extends layouts/main-layout.pug 

block content 
    .searchBarContainer 
        i.fas.fa-search 
        input#searchBox(type="text", name="searchBox", data-search=selectedTab, placeholder="Search for users or posts")
    .tabsContainer 
        +createTab('Posts', `/search/posts`, selectedTab != 'users')
        +createTab('Users', `/search/users`, selectedTab == 'users')
    .resultsContainer(style="visibility: hidden")
    .loadingSpinnerContainer(style="visibility: hidden")
        img(src="/images/Loading Spinner.gif", alt="Loading spinner")
    +createPostModals(userLoggedIn)

block scripts 
    script(src="/script/search.js")
